
.btn-success:hover, .btn-success:active {
    background-color: $background-color;
    border-color: $brand_success  !important;
    color: $text_color;
    box-shadow: 0 0 .1rem $brand_success,
        0 0 .1rem $brand_success,
        0 0 1rem $brand_success ,
        0 0 0.1rem $brand_success ,
        inset 0 0 1.1rem $brand_success ; 
}