h1 {
    color: $text-color !important;
    font-size: 44px !important;
}

h2 {
    color: $text-color !important;
    font-size: 34px !important;
}

h3 {
    color: $text-color !important;
    font-size: 26px !important;
}

h4 {
    color: $text-color !important;
    font-size: 20px !important;
}

h5 {
    color: $text-color !important;
    font-size: 16px !important;
}

h6 {
    color: $text-color !important;
    font-size: 14px !important;
}

p, a, li, label {
    font-size: 16px !important;
}

p, li {
    color: $text-color !important;
}

a, label {
    color: $text-color !important;
}

a:hover, a:active, a:focus {
    color: $brand-primary !important;
}

.text-muted {
    color: $brand-disabled !important;
}

.text-primary {
    color: $brand-primary !important;
}

.text-success {
    color: $brand-success !important;
}

.text-info {
    color: $brand-info !important;
}

.text-warning {
    color: $brand-warning !important;
}

.text-danger {
    color: $brand-danger !important;
}

::-moz-selection {
    color: $text-on-primary;
    background: $brand-primary;
}
  
::selection {
    color: $text-on-primary;
    background: $brand-primary;
}