nav {
    border-bottom: 2px solid $background-color;
}

.navbar {
    background-color: $background-color !important;
}

.nav-link {
    color: $text-color;
    height: 78px !important;
    border-radius: 0px !important;
    padding: 25px !important;
}

.nav-item .active {
    color: $brand-primary-text-emphasis !important;
    background-color: $brand-primary !important;
}
.nav-item .active .dropdown {
    color: $text-color !important;
    background-color: $background-color !important;
}

.nav-item :hover, .nav-item.active:hover {
    color: $text-color !important;
    background-color: $hover-bg !important;
}

.nav-item.dropdown :hover, .nav-item.dropdown.active:hover {
        background-color: $background-color !important;
        color: $text-color !important;
        .dropdown-item:hover {
            color: $text-color !important;
            background-color: $hover-bg !important;
        }
}