.datepicker {
    background-color: $background-color;
}

td.active.day {
    background-color: $brand-primary;
}

td.day:hover {
    background-color: $border-color;
}

td.disabled.day {
    background-color: $brand-disabled;
}
