// Body
$body-bg: #282A36;
$background-color: #282A36;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands

$brand-primary: #BD93F9;
$brand-info: #80DCEE;
$brand-success: #48D06D;
$brand-warning: #D9D068;
$brand-danger: #CA62B8;

//Brands darker
$brand-primary-darker: darken($brand-primary, 15%);

// Typography
$icon-font-path: "~/bootstrap-sass/assets/fonts/bootstrap/";
$raleway-font: "Raleway", sans-serif;
$lobster-font: "Lobster", cursive;
$yellowtail-font: 'Yellowtail', cursive;
$vesper-font: 'Vesper Libre', serif;
$satisfy-font: 'Satisfy', cursive;
$orbitron-font: 'Orbitron', sans-serif;
$parisienne-font: 'Parisienne', cursive;
$pressStart2p-font: 'Press Start 2P', cursive;
$creepster-font: 'Creepster', cursive;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #ffffff;
$lightmode-text-color: #fff;
$text-highlight: #CCCCCC;

// Navbar
$navbar-default-bg: #282A36;

// Buttons
$btn-default-color: $background-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #282A36;
