.fa.non-hover {
    margin:5px;
    padding:3px 6px 3px 6px;
    display:contents;
    visibility: visible;
}

.fa.hover {
    margin:5px;
    padding:3px 6px 3px 6px;
    display:none;
    visibility: hidden;
}

.fa-container:hover {
    .fa.non-hover {
        display:none;
        visibility: hidden;
    }
    .fa.hover {
        display:contents;
        visibility: visible;
    }
}

.custom-shadow {
    border: 1px solid $border-color;
    background-color: $border-color;
}

.custom-shadow:hover {
    box-shadow: -0.5px -0.5px 3px 3px $brand-primary-50;
    border: 1px solid $brand-primary-50;
}