input[type=text] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $border-color !important;
    border-radius: 0 !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=password] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $border-color !important;
    border-radius: 0 !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=email] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $border-color !important;
    border-radius: 0 !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

textarea[type=text] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $border-color !important;
    border-radius: 0 !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=text]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}

input[type=password]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}
input[type=email]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}

textarea[type=text]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}

input[type=text]:disabled {
    background-color:$input-disabled !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}

input[type=password]:disabled {
    background-color:$input-disabled !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}
input[type=email]:disabled {
    background-color:$input-disabled !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}

textarea[type=text]:disabled {
    background-color:$input-disabled !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $border-color;
}

input[type=text]:disabled::placeholder {
    color: $text-disabled !important;
    opacity: 1;
}

input[type=password]:disabled::placeholder {
    color: $text-disabled !important;
    opacity: 1;
}
input[type=email]:disabled::placeholder {
    color: $text-disabled !important;
    opacity: 1;
}

textarea[type=text]:disabled::placeholder {
    color: $text-disabled !important;
    opacity: 1;
}

button[type="button"]:disabled {
    background-color:$input-disabled !important;
    color: $text-disabled !important;
    opacity: 1;
}

a[type="button"]:disabled {
    background-color:$input-disabled !important;
    color: $text-disabled !important;
    opacity: 1;
}

.btn-primary.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-primary.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-primary.form-control[readonly]:hover, .form-control[readonly]:active {
    background-color: $brand-primary !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-success.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-success.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-success.form-control[readonly]:hover, .btn-success.form-control[readonly]:active {
    background-color: $brand-success !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-warning.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-warning.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-warning.form-control[readonly]:hover, .btn-warning.form-control[readonly]:active {
    background-color: $brand-warning !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-danger.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-danger.form-control[readonly] {
    background-color: $background-color !important;
    color: $text-color !important;
    opacity: 1;
}

.btn-danger.form-control[readonly]:hover, .btn-danger.form-control[readonly]:active {
    background-color: $brand-danger !important;
    color: $text-color !important;
    opacity: 1;
}