input[type=text] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $text-color !important;
    border-radius: 0 !important;
}

.form-control {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $text-color !important;
    border-radius: 0 !important;
}

input[type=password] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $text-color !important;
    border-radius: 0 !important;
}

input[type=email] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $text-color !important;
    border-radius: 0 !important;
}

textarea[type=text] {
    background-color:transparent !important;
    border-color: transparent !important;
    color: $text-color !important;
    border-bottom: 1px solid $text-color !important;
    border-radius: 0 !important;
}

input[type=text]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $text-color;
}

input[type=password]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $text-color;
}
input[type=email]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $text-color;
}

textarea[type=text]:focus {
    background-color:transparent !important;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: $text-color;
}
