@import "buttons";
@import "pannels";
@import 'inputs';
@import 'modal';
@import "navbar";
@import "text";
@import "badge";
@import 'toastr';
@import "table";
@import 'datepicker';

html, body {
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow-x: hidden;
}

.bg-dark {
    background-color: darken($background-color, 5%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $raleway-font;
}

vr {
    border-left: 1px solid $brand-primary;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }


p, a, li {
    font-family: $raleway-font;
}

.full-height {
    height: 100%;
}

.raleway-font {
    font-family: $raleway-font !important;
}

.rochester-font {
    font-family: $rochester-font !important;
}

.vesper-font {
    font-family: $vesper-font !important;
}

.btn {
    margin-left: 15px;
}

a:link, a:visited {
    color: $brand-primary;
}

a:hover, a:active {
    color: $brand-primary;
}

.status-online {
    border: 5px solid $brand-success;
}

.status-idle {
    border: 5px solid $brand-warning;
}

.status-dnd {
    border: 5px solid $brand-danger;
}

.status-offline {
    border: 5px solid $brand-offline;
}

.header {
    z-index: 1;
    background-image: none;
    background-color: $brand-primary;
    background: linear-gradient(220deg, $brand-orange, $brand-primary);
    color: $text-color;
    border: 0 solid transparent;
    border-radius: 0;
    height: 400px !important;
    margin-bottom: 5%;
    h1 {
        font-size: 50px;
        margin-top: -2%;
    }
    > .row {
        padding-top: 200px;
    }
}

.content {
    z-index:2;
}

.content-item {
    padding-top: 5%;
    padding-bottom: 5%
}