html, body {
    background-color: $background-color;
    color: $text-color;
    height: 100%;
    margin: 0;
    @media (min-width: 1210px) {
        padding-top: 0.5%;
        padding-right: 2%;
        padding-left: 2%;
        padding-bottom: 2%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $raleway-font;
}

vr {
    border-left: 1px solid $brand-primary;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }


p, a, li {
    font-family: $raleway-font;
}

.full-height {
    height: 100% !important;
}

.raleway-font {
    font-family: $raleway-font !important;
}

.rochester-font {
    font-family: $rochester-font !important;
}

.vesper-font {
    font-family: $vesper-font !important;
}

.btn {
    margin-left: 15px;
}

a:link, a:visited {
    color: $brand-primary;
}

a:hover, a:active {
    color: $brand-primary;
}
