$dropdown: true;

@media (max-width: $screen-sm-min) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        .current-page {
            background-color: darken($brand-primary, 15%);
        }
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  }

.navbar {
    z-index:3;
    border-radius: 0px !important;
}

.navbar-default {
    margin-bottom: -2%;
    padding-top:0px !important;
    padding-bottom:0px !important;
    background:linear-gradient($background-highlight, $background-color),url('/img/NoxGamingQC.png'), linear-gradient($background-color, $background-color);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5%;
    border:none;
    .navbar-brand {
        color: $text-color;
        font-size: 155%;
        @media (min-width: 768px) {
            margin-top: 5%;
        }
        &:hover,  &:focus, &:active {
            color: $text-highlight-color;
        }
    }
    .navbar-text {
        color: $text-color;
        font-size: 100%;
    }
    .navbar-nav {
        > li {
            margin-right: 5px;
            padding-top: 1%;
            padding-bottom: 1%;
            > a {
                color: $text-color;
                font-size: 100%;
                @media (min-width: 768px) {
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
                &:hover,  &:focus {
                    color: $text-color;
                    background-color: $brand-primary;
                }
            }
            &:hover,  &:focus {
                color: $text-color;
                background-color: $brand-primary;
            }
            .disabled {
                color: $text-disabled;
                font-size: 100%;
                @media (min-width: 768px) {
                    padding-top: 25px;
                    padding-bottom:25px;
                }
                &:hover,  &:focus, &:active {
                    color: $text-disabled;
                    background-color: $background-color;
                }
            }
            @if $dropdown {
                > .dropdown-menu {
                    background-color: $background-color;
                    > li {
                        &:hover, &:focus, &:active {
                            background-color: $background-color;
                        }
                        > a {
                            color: $text-color;
                            &:hover,  &:focus, &:active {
                                color: $text-highlight-color;
                                border-color: $brand-primary;
                                background-color: $brand-primary;
                            }
                            .disabled {
                                color: $text-disabled !important;
                                &:hover, &:focus, &:active {
                                    color: $text-disabled !important;
                                    border-color: $background-color !important;
                                    background-color: $background-color !important;
                                }
                            }
                        }
                        &.divider {
                            background-color: $brand-primary;
                        }
                    }
                }
            }
        }
        > .current-page {
            background-color: darken($brand-primary, 15%);
            box-shadow: inset 0 -5px 0 $text-color
        }
        > .active {
                color: $text-color;
                background-color: $brand-primary;
            .disabled {
                color: $text-disabled !important;
                > &:hover, &:focus, &:active {
                    color: $text-disabled !important;
                    border-color: $background-color !important;
                    background-color: $background-color !important;
                }
            }
        }
        > .open {
            color: $text-highlight-color;
            background-color: $brand-primary;
            > a, > a:hover, > a:focus, a:active {
                color: $text-highlight-color;
                background-color: $brand-primary;
            }
            > a.disabled {
                color: $text-disabled !important;
                &:hover, &:focus, &:active {
                    color: $text-disabled !important;
                    border-color: $background-color !important;
                    background-color: $background-color !important;
                }
            }
        }
    }
    .navbar-toggle {
        border-color: $border-color;
        &:hover, &:focus, &:active {
            background-color: $brand-primary;
            .icon-bar {
                background-color: $text-color; 
            }
        }
        .icon-bar {
            background-color: $text-color; 
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $border-color;
    }
    .navbar-link {
        color: $text-color;
        &:hover {
        color: $text-highlight-color; 
        }
    }
    .nav-searchbar {
        margin-top: 6%;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $text-color;
            &:hover, &:focus, &:active {
                color: $text-highlight-color;
            }
        }
        > .active {
            > a, > a:hover, > a:focus, > a:active {
                color: $text-color;
                background-color: $brand-primary;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block !important;
        float: none;
        vertical-align: top !important;
    }

    .navbar .navbar-collapse {
        text-align: center !important;
        color: $text-color;
    }
}


//navbar breakpoint

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 5%;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}