$dropdown: true;

.navbar-default {
    background-color: $background-color;
    border-color: $laravel-border-color;
    @media (min-width: 992) {
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-left-color: transparent !important;
    }
    .navbar-brand {
        color: $text-color;
        font-size: 155%;
        &:hover, &:focus {
            color: $text-highlight;
        }
    }
    .navbar-text {
        color: $text-color;
        font-size: 155%;
    }
    .navbar-nav {
        > li {
            margin-right: 5px;
            > a {
                color: $text-color;
                font-size: 125%;
                &:hover,  &:focus {
                    padding: -10px;
                    color: $lightmode-text-color;
                    background-color: $brand-primary;
                }
            }
            @if $dropdown {
                > .dropdown-menu {
                    background-color: $background-color;
                    > li {
                        &:hover {
                            background-color: $background-color;
                        }
                        > a {
                            color: $text-color;
                            &:hover,  &:focus {
                                color: $lightmode-text-color;
                                border-color: $brand-primary;
                                background-color: $brand-primary;
                            }
                        }
                        &.divider {
                        background-color: $brand-primary;
                        }
                    }
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $lightmode-text-color;
                background-color: $brand-primary;
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $lightmode-text-color;
                background-color: $brand-primary;
            }
        }
    }
    .navbar-toggle {
        border-color: $laravel-border-color;
        &:hover, &:focus {
            background-color: $brand-primary;
            .icon-bar {
                background-color: $lightmode-text-color; 
            }
        }
        .icon-bar {
            background-color: $text-color; 
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $laravel-border-color;
    }
    .navbar-link {
        color: $text-color;
        &:hover {
        color: $text-highlight; 
        }
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $text-color;
            &:hover, &:focus {
                color: $text-highlight;
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $lightmode-text-color;
                background-color: $brand-primary;
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar .navbar-nav {
        display: inline-block !important;
        float: none;
        vertical-align: top !important;
    }

    .navbar .navbar-collapse {
        text-align: center !important;
        color: $text-color;
    }
}
