$dropdown: true;

.navbar-default {
    background-color: $background-color;
    border-color: $background-color;
    @media (min-width: 500px) {
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-left-color: transparent !important;
    }
    .navbar-brand {
        color: $text-color;
        font-size: 155%;
        @media (min-width: 768px) {
            margin-top: 5%;
        }
        &:hover, &:focus {
            color: $text-highlight;
        }
    }
    .navbar-text {
        color: $text-color;
        font-size: 100%;
    }
    .navbar-nav {
        > li {
            margin-right: 5px;
            > a {
                color: $text-color;
                font-size: 100%;
                @media (min-width: 768px) {
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
                &:hover,  &:focus {
                    color: $lightmode-text-color;
                    background-color: $brand-primary;
                }
            }
            > a.disabled {
                color: $text-disabled;
                font-size: 100%;
                @media (min-width: 768px) {
                    padding-top: 25px;
                    padding-bottom:25px;
                }
                &:hover,  &:focus {
                    color: $text-disabled;
                    background-color: $background-color;
                }
            }
            @if $dropdown {
                > .dropdown-menu {
                    background-color: $background-color;
                    > li {
                        &:hover {
                            background-color: $background-color;
                        }
                        > a {
                            color: $text-color;
                            &:hover,  &:focus {
                                color: $lightmode-text-color;
                                border-color: $brand-primary;
                                background-color: $brand-primary;
                            }
                        > a.disabled {
                            color: $text-disabled !important;
                            &:hover,  &:focus {
                                color: $text-disabled !important;
                                border-color: $background-color !important;
                                background-color: $background-color !important;
                            }
                        }
                        }
                        &.divider {
                            background-color: $brand-primary;
                        }
                    }
                }
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $lightmode-text-color;
                background-color: $brand-primary;
            }
            > a.disabled {
                color: $text-disabled !important;
                > &:hover, > &:focus {
                    color: $text-disabled !important;
                    border-color: $background-color !important;
                    background-color: $background-color !important;
                }
            }
        }
        > .open {
            > a, > a:hover, > a:focus {
                color: $lightmode-text-color;
                background-color: $brand-primary;
            }
            > a.disabled {
                color: $text-disabled !important;
                > &:hover, > &:focus {
                    color: $text-disabled !important;
                    border-color: $background-color !important;
                    background-color: $background-color !important;
                }
            }
        }
    }
    .navbar-toggle {
        border-color: $laravel-border-color;
        &:hover, &:focus {
            background-color: $brand-primary;
            .icon-bar {
                background-color: $lightmode-text-color; 
            }
        }
        .icon-bar {
            background-color: $text-color; 
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $laravel-border-color;
    }
    .navbar-link {
        color: $text-color;
        &:hover {
        color: $text-highlight; 
        }
    }
    .nav-searchbar {
        margin-top: 6%;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $text-color;
            &:hover, &:focus {
                color: $text-highlight;
            }
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $lightmode-text-color;
                background-color: $brand-primary;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block !important;
        float: none;
        vertical-align: top !important;
    }

    .navbar .navbar-collapse {
        text-align: center !important;
        color: $text-color;
    }
}


//navbar breakpoint

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 5%;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}