.panel-primary > .panel-heading {
    background-image: none;
    background-color: #C22222;
    color: #FFFFFF;
    border-color: #000000;
}

.panel-primary > .panel-body {
    background-image: none;
    background-color: #222222;
    color: #FFFFFF;
    border-color: #000000;
}

.panel-primary {
    border-color: #000000;
}
