.panel-default > .panel-heading {
    background-image: none;
    background-color: $brand-primary;
    color: $text-color;
    border-color: $background-color;
}

.panel-default > .panel-body {
    background-image: none;
    background-color: $background-color;
    color: $text-color;
    border-color: $background-color;
}

.panel-default {
    border-color: $background-color !important;
}

.panel-primary > .panel-heading {
    background-image: none;
    background-color: $brand-primary;
    color: $text-color;
    border-color: $border-color;
}

.panel-primary > .panel-body {
    background-image: none;
    background-color: $background-color;
    color: $text-color;
    border-color: $border-color;
}

.panel-primary-dark {
    border-color: $border-color !important;
}

.panel-primary-dark > .panel-heading {
    background-image: none;
    background-color: $brand-primary;
    color: $text-color;
    border-color: $border-color;
}

.panel-primary-dark > .panel-body {
    background-image: none;
    background-color: darken($background-color, 5%);
    color: $text-color;
    border-color: $border-color;
}

.panel-primary {
    border-color: $border-color !important;
}

.panel-block-primary > .panel-body {
    background-image: none;
    background-color: $brand-primary;
    background: linear-gradient(220deg, $brand-orange, $brand-primary);
    color: $text-color;
    border: 0 solid transparent;
    border-radius: 0;
    @media (min-width: 1210px) {
        height: 700px !important;
        > h1 {
            padding-top: 5%;
        }
    }
}

.panel-block-primary {
    border: 0 solid transparent;
    border-radius: 0;
}

.panel-block-primary > .panel-body > h1 {
    font-size: 500% !important;
}

.panel-block-primary > .panel-body > h5 {
    font-size: 200% !important;
}

.panel-success > .panel-heading {
    background-image: none;
    background-color: $brand-success;
    color: darken($brand-success, 45%);
    border-color: darken($brand-success, 25%);
}

.panel-success > .panel-body {
    background-image: none;
    background-color: $brand-success;
    color: darken($brand-success, 45%);
    border-color: darken($brand-success, 25%);
}

.panel-success {
    border-color: darken($brand-success, 25%);
}

.panel-warning > .panel-heading {
    background-image: none;
    background-color: $brand-warning;
    color: darken($brand-warning, 45%);
    border-color: darken($brand-warning, 25%);
}

.panel-warning > .panel-body {
    background-image: none;
    background-color: $brand-warning;
    color: darken($brand-warning, 45%);
    border-color: darken($brand-warning, 25%);
}

.panel-warning {
    border-color: darken($brand-warning, 25%);
}

.panel-danger > .panel-heading {
    background-image: none;
    background-color: $brand-danger;
    color: darken($brand-danger, 45%);
    border-color: darken($brand-danger, 25%);
}

.panel-danger > .panel-body {
    background-image: none;
    background-color: $brand-danger;
    color: darken($brand-danger, 45%);
    border-color: darken($brand-danger, 25%);
}

.panel-danger {
    border-color: darken($brand-danger, 25%);
}

.panel-info > .panel-heading {
    background-image: none;
    background-color: $brand-info;
    color: darken($brand-info, 45%);
    border-color: darken($brand-info, 25%);
}

.panel-info > .panel-body {
    background-image: none;
    background-color: $brand-info;
    color: darken($brand-info, 45%);
    border-color: darken($brand-info, 25%);
}

.panel-info {
    border-color: darken($brand-info, 25%);
}