.panel-primary > .panel-heading {
    background-image: none;
    background-color: $brand-primary;
    color: $text-color;
    border-color: $laravel-border-color;
}

.panel-primary > .panel-body {
    background-image: none;
    background-color: $background-color;
    color: $text-color;
    border-color: $laravel-border-color;
}

.panel-primary {
    border-color: $laravel-border-color;
}

.panel-primary-red > .panel-body {
    background-image: none;
    background-color: $brand-primary;
    color: $text-color;
    border-color: $laravel-border-color;
}

.panel-primary-red {
    border-color: $laravel-border-color;
}
