@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.developper-font {
  font-family: "Ms Madi", cursive;
}

$brand-white: #F5F5F5;
$brand-black: #151515;
$brand-primary: #f63b3b;
$brand-success: #4EFF7C;
$brand-warning: #FFFA5C;
$brand-danger: #ff5c5c;
$brand-info: #33FFFF;
$brand-muted: #8b6464;

$title-color: #F5F5F5;
$text-color: #94a3b8;

$nav-inactive: $brand-muted;
$background-color:#2a0f0f;
$gradient-background: linear-gradient(135deg, #2a0f0f, #3b1e1e);
$secondary-background: rgba(59, 30, 30, 0.65);

$card-bg: $secondary-background;
$nav-background: $secondary-background;
$footer-background: $secondary-background;

$border-color: $brand-primary;
$hover-bg: #88000088;

$brand-primary-text-emphasis: #F5F5F5;
$brand-success-text-emphasis: #151515;
$brand-warning-text-emphasis: #151515;
$brand-danger-text-emphasis: #F5F5F5;
$brand-info-text-emphasis: #151515;
$brand-orange-text-emphasis: #F5F5F5;

.text-white {
    color: $brand-white !important;
}
.text-black {
    color: $brand-black !important;
}

$theme-colors: (
    "primary": $brand-primary,
    "success": $brand-success,
    "info": $brand-info,
    "warning": $brand-warning,
    "danger": $brand-danger,
);

$theme-colors-text: (
    "primary": $brand-primary-text-emphasis,
    "success": $brand-success-text-emphasis,
    "info": $brand-info-text-emphasis,
    "warning": $brand-warning-text-emphasis,
    "danger": $brand-danger-text-emphasis,
);