@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.developper-font {
  font-family: "Ms Madi", cursive;
}

$brand-white: #F5F5F5;
$brand-black: #151515;
$brand-primary: #880000;
$brand-success: #4EFF7C;
$brand-warning: #FFFA5C;
$brand-danger: #ff5c5c;
$brand-info: #33FFFF;
$brand-muted: #AAAAAA
;

$nav-inactive: lighten($brand-primary, 55%);
$nav-background: darken($brand-primary, 5%);

$background-color: #151515;
$card-bg: darken($brand-primary, 20%);
$border-color: $brand-primary;
$text-color: #F5F5F5;
$hover-bg: #88000088;

$brand-primary-text-emphasis: #F5F5F5;
$brand-success-text-emphasis: #151515;
$brand-warning-text-emphasis: #151515;
$brand-danger-text-emphasis: #F5F5F5;
$brand-info-text-emphasis: #151515;
$brand-orange-text-emphasis: #F5F5F5;

.text-white {
    color: $brand-white !important;
}
.text-black {
    color: $brand-black !important;
}

$theme-colors: (
    "primary": $brand-primary,
    "success": $brand-success,
    "info": $brand-info,
    "warning": $brand-warning,
    "danger": $brand-danger,
);

$theme-colors-text: (
    "primary": $brand-primary-text-emphasis,
    "success": $brand-success-text-emphasis,
    "info": $brand-info-text-emphasis,
    "warning": $brand-warning-text-emphasis,
    "danger": $brand-danger-text-emphasis,
);