@import 'font-awesome';
@import 'variables';
@import 'components/components';

#content {
    margin-top: 120px;
}

.section {
    padding-bottom: 5% !important;
}

.extra-life-logo {
    background-image: url('/img/Affiliates/Extra Life.png') !important;
    background-size: cover !important;
}

.text-badge {
    background-color: $background-color;
    color: $text-color;
    border-radius: 5px;
    opacity: 0.98;
}

.footer {
    > div {
        padding: 20% !important;
    }
    background-color:$brand-primary !important;
    background: linear-gradient(0deg, $brand-primary 0%,$brand-primary 88%, $background-color 100%);
    h1, h2, h3, h4, h5 ,h6, p {
        color: $text-on-primary !important;
    }

}

.header {
    h1,h2,h3,h4,h5,h6,p {
        color: $text-on-primary !important;
    }
    @media (min-width: $screen-md-min) {
        h1 {
            font-size:135px !important
        }
        h2, h3 {
            font-size:20px !important
        }
    }
}

.header h1, .header h2 {
    color: $text-on-primary !important;
}

.header h3, .header h4, .header h5, .header h6, .header p, .header span {
    color: $text-on-primary !important;
}

.row {
    @media (max-width: $screen-md-min) {
        margin-left: 0px !important;
    }
}

.text-img-align {
    @media (min-width: $screen-md-min) {
        margin-top:100px
    }
}