@import "node_modules/bootstrap/scss/functions";
@import 'font-awesome';
@import 'variables';
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

// Optional Bootstrap components
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";

// Required Bootstrap datepicker import
//@import "/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css";

@import "./components/navigation";
@import "./components/footer";
@import "./components/card";

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
    @page {
        //margin-bottom: 0;
        margin: 0;
        padding: 0;
    }
     body {
        color: black !important;
    }
    p, h1, h2, h3, h4, h5, h6,span,div {
        color: black !important;
    }
    .text-primary, .text-success, .text-warning, .text-danger, .text-info {
        color: black !important;
    } 
}

html, body {
  background-color: $background-color !important;
  background: $gradient-background !important;
  color: $text-color;
}

h1, h2 {
    color: $title-color;
}

h3, h4, h5, h6 {
    color: $sub-title-color;
}

p, span, div, label, .control-label, .input-group-text {
    color: $text-color;
}

a:hover {
    color: $brand-primary;
    transition: all 0.3s ease;
}

.input-group-text {
    background-color: $background-color;
}

.btn-link {
    color: $text-color;
}

.btn-link:hover {
    color: $brand-primary;
}

.form-control:focus {
    border-color: $brand-primary;
    box-shadow: 0 0 0 0.25rem transparentize($brand-primary, 0.75);
}

@media only screen and (max-width: 767px) {
  .desktop {
        display: none
  }
}

@media only screen and (min-width: 768px) {
  .mobile {
        display: none
  }
}

* {
  box-sizing: border-box;
}

.panel {
background: rgb(from $background-color r g b / 0.5);
  backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  border-radius: $border-radius;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  padding: 2.5rem 3rem;
  border: 1px solid $background-color;
}

.text-muted {
    color: $brand-muted !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="name"], textarea {
    background-color: transparent;
    border: 0px solid transparent;
    border-bottom: 1px solid $text-color;
    color: $text-color;
    border-radius: 0;
    transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="name"]:focus, textarea:focus {
    background-color: transparent !important;
    border: 0px solid transparent;
    border-bottom: 1px solid $border-color;
    color: $title-color;
    border-radius: 0;
    box-shadow: none;
}

.custom-input-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all 0.3s ease;
}

.custom-input-group .input-group-text {
    border: none;
    align-items: center;
}

.custom-input-group .form-control {
    flex: 1;
    min-width: 0;
}

.icon-addon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $text-color;
    color: $brand-black;
    margin-right: 5px;
    flex-shrink: 0;
}

.input-group-text {
    background-color: $text-color;
    border: 0px solid transparent;
    color: $text-color;
    border-radius: 5px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="name"]::placeholder, textarea::placeholder {
    color: rgba($text-color, 0.4);
    opacity: 1;
}

.form-check-input, .form-check-input:focus, .form-check-input:active {
    background-color: transparent;
    border-color: $text-color;
    box-shadow: none;
    transition: all 0.3s ease;
}

.form-check-input:checked, .form-check-input:hover {
    background-color: $brand-primary;
    border-color: transparent;
    color: $text-color;
    box-shadow: none;
}

.btn-primary {
    background-color: transparent;
    border-color: $brand-primary;
    color: $sub-title-color;
    transition: all 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $brand-primary-text-emphasis;
}