@import "node_modules/bootstrap/scss/functions";
@import 'font-awesome';
@import 'variables';
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

// Optional Bootstrap components
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";

// Required Bootstrap datepicker import
//@import "/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css";

@import "./components/navigation";
@import "./components/footer";

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
    @page {
        //margin-bottom: 0;
        margin: 0;
        padding: 0;
    }
     body {
        color: black !important;
    }
    p, h1, h2, h3, h4, h5, h6,span,div {
        color: black !important;
    }
    .text-primary, .text-success, .text-warning, .text-danger, .text-info {
        color: black !important;
    } 
}

.input-group-text {
    background-color: $background-color;
}

.btn.btn-primary, .btn.btn-warning, .btn.btn-success, .btn.btn-danger, .btn.btn-info {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 5% !important;
}

.form-control:focus {
    border-color: $brand-primary;
    box-shadow: 0 0 0 0.25rem transparentize($brand-primary, 0.75);
}

@media only screen and (max-width: 767px) {
  .desktop {
        display: none
  }
}

@media only screen and (min-width: 768px) {
  .mobile {
        display: none
  }
}

* {
  box-sizing: border-box;
}

.panel {
background: rgb(from $background-color r g b / 0.5);
  backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  border-radius: $border-radius;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  padding: 2.5rem 3rem;
  border: 1px solid $background-color;
}   