@import "font-awesome";

@import "queenVariables";

@import "main";
@import "buttons";
@import "pannels";
@import 'inputs';
@import 'modal';
@import "navbar";
@import "table";
@import "badge";
@import "text";
@import 'toastr';
@import 'datepicker';


.crt-grid-post-image {
    filter: gray !important;
    -webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important; 
}

.img {
    filter: gray !important;
    -webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important; ; 
}

.btn {
    filter: gray !important;
    -webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important; 
}

.video-player {
    filter: gray !important;
    -webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important; 
}