.table-danger {
    background-color: $brand-danger;
}

.table-info {
    background-color: $brand-info;
}

.table-default {
    background-color: $background-color;
}

.table-success {
    background-color: $brand-success;
}

.table-warning {
    background-color: $brand-warning;
}

.table-primary {
    background-color: $brand-primary;
}
