// Body
$background-color: #222222;

// Borders
$border-color: darken($background-color, 25%);
$hr: #000000;
$hr-highlight: #ffffff;

// Brands
$brand-primary: #c22222;
$brand-info: #bed5dc;
$brand-success: #3AA55D;
$brand-warning: #F9A61A;
$brand-danger: #EC4145;
$brand-orange: #E56F1F;
$brand-offline: #737F8C;

// Typography
$icon-font-path: "~/bootstrap-sass/assets/fonts/bootstrap/";

//Font
$raleway-font: "Raleway", sans-serif;
$rochester-font: "Rochester", cursive;
$vesper-font: 'Vesper Libre', serif;

$font-size-base: 14px;
$line-height-base: 1.6;

//Font color
$text-color: #ffffff;
$text-hover: #CCCCCC;
$text-disabled: #888888;
$text-bg-color: #00000088;

$text-highlight-color: #ffffff;
$text-highlight-hover: #CCCCCC;
$text-highlight-disabled: #888888;

// Navbar
$navbar-bg: #222222;

// Buttons
$btn-background-color: $background-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-disabled: #444444;

// Panels
$panel-default-heading-bg: #222222;
