// Body
$background-color: #222222;
$background-highlight: rgba(27,21,36,0.9);

// Borders
$border-color: darken($background-color, 25%);
$hr: #000000;
$hr-highlight: #ffffff;

// Brands
$brand-primary: #BD93F9;
$brand-info: #80DCEE;
$brand-success: #48D06D;
$brand-warning: #D9D068;
$brand-danger: #CA62B8;
$brand-orange: #ffb86c;
$brand-highlight: #FFFFFF;
$brand-offline: #737F8C;

// Typography
$icon-font-path: "~/bootstrap-sass/assets/fonts/bootstrap/";

//Font
$raleway-font: "Raleway", sans-serif;
$rochester-font: "Rochester", cursive;
$vesper-font: 'Vesper Libre', serif;

$font-size-base: 14px;
$line-height-base: 1.6;

//Font color
$text-color: #ffffff;
$text-hover: #CCCCCC;
$text-disabled: #888888;
$text-bg-color: #00000088;

$text-highlight-color: #ffffff;
$text-highlight-hover: #CCCCCC;
$text-highlight-disabled: #888888;


// Navbar
$navbar-bg: #222222;

// Buttons
$btn-background-color: $background-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-disabled: #444444;

// Panels
$panel-default-heading-bg: #222222;