@import "font-awesome";

// Body
$background-color: #165B33;
$background-highlight: rgba(194,34,34,0.9);

// Borders
$border-color: darken($background-color, 25%);
$hr: #000000;
$hr-highlight: #ffffff;

// Brands
$brand-primary: #F8B229;
$brand-info: #bed5dc;
$brand-success: #146B3A;
$brand-warning: #F8B229;
$brand-danger: #BB2528;
$brand-orange: #BB2528;
$brand-offline: #737F8C;

// Typography
$icon-font-path: "~/bootstrap-sass/assets/fonts/bootstrap/";

//Font
$raleway-font: "Raleway", sans-serif;
$rochester-font: "Rochester", cursive;
$vesper-font: 'Vesper Libre', serif;

$font-size-base: 14px;
$line-height-base: 1.6;

//Font color
$text-color: #fff;
$text-hover: #fff;
$text-disabled: #888888;
$text-bg-color: #00000088;

$text-highlight-color: #ffffff;
$text-highlight-hover: #CCCCCC;
$text-highlight-disabled: #888888;

// Navbar
$navbar-bg: #222222;

// Buttons
$btn-background-color: $background-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-disabled: #444444;

// Panels
$panel-default-heading-bg: #222222;


@import "../main";

.extra-life-logo {
    background-image: url('/img/Affiliates/Extra Life.png') !important;
    background-size: cover !important;
}