.header h1, .header h2 {
    color: $text-on-primary !important;
}

.markdown {
    background-color: $background-color !important;
    color: $text-color !important;
    border: 1px solid $text-color !important;
    border-radius: 10px;
    padding: 15px !important;
}