.btn-default {
    background-color: darken($background-color, 3%) !important;
    border: 3px solid transparent !important;
    color: $text-color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px transparent,
        0 0 15px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 3px transparent;
}

.btn-default:hover, .btn-default:active {
    background-color: lighten($background-color, 5%) !important;
    border: 3px solid $text-color !important;
    color: $text-color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px $text-color,
        0 0 15px $text-color,
        0 0 1px $text-color,
        0 0 0.1px $text-color ,
        inset 0 0 1px 3px lighten($text-color, 25px);
}

.btn-primary {
    background-color: darken($background-color, 3%) !important;
    border: 3px solid transparent !important;
    color: $text-color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px transparent,
        0 0 15px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 3px transparent;
}

.btn-primary:hover, .btn-primary:active {
    background-color: lighten($background-color, 5%) !important;
    border: 3px solid $brand-primary !important;
    color: $text_color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px $brand-primary,
        0 0 15px $brand-primary,
        0 0 1px $brand-primary,
        0 0 0.1px $brand-primary,
        inset 0 0 1px 3px lighten($brand-primary, 25px);
}

.btn-success {
    background-color: darken($background-color, 3%) !important;
    border: 3px solid transparent !important;
    color: $text-color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px transparent,
        0 0 15px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 3px transparent;
}

.btn-success:hover, .btn-success:active {
    background-color: lighten($background-color, 5%) !important;
    border: 3px solid $brand_success !important;
    color: $text_color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px $brand_success,
        0 0 15px $brand_success,
        0 0 1px $brand_success,
        0 0 0.1px $brand_success,
        inset 0 0 1px 3px lighten($brand-success, 25px);
}

.btn-info {
    background-color: darken($background-color, 3%) !important;
    border: 3px solid transparent !important;
    color: $text-color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px transparent,
        0 0 15px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 3px transparent;
}

.btn-info:hover, .btn-info:active {
    background-color: lighten($background-color, 5%) !important;
    border: 3px solid $brand-info !important;
    color: $text_color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px $brand-info,
        0 0 15px $brand-info,
        0 0 1px $brand-info,
        0 0 0.1px $brand-info,
        inset 0 0 1px 3px lighten($brand-info, 25px);
}

.btn-warning {
    background-color: darken($background-color, 3%) !important;
    border: 3px solid transparent !important;
    color: $text-color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px transparent,
        0 0 15px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 3px transparent;
}

.btn-warning:hover, .btn-warning:active {
    background-color: lighten($background-color, 5%) !important;
    border: 3px solid $brand-warning !important;
    color: $text_color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px $brand-warning,
        0 0 15px $brand-warning,
        0 0 1px $brand-warning,
        0 0 0.1px $brand-warning,
        inset 0 0 1px 3px lighten($brand-warning, 25px);
}

.btn-danger {
    background-color: darken($background-color, 3%) !important;
    border: 3px solid transparent !important;
    color: $text-color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px transparent,
        0 0 15px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 3px transparent;
}

.btn-danger:hover, .btn-danger:active {
    background-color: lighten($background-color, 5%) !important;
    border: 3px solid $brand-danger !important;
    color: $text_color !important;
    padding: 20px 42px !important;
    box-shadow: 0 0 1px $brand-danger,
        0 0 15px $brand-danger,
        0 0 1px $brand-danger,
        0 0 0.1px $brand-danger,
        inset 0 0 1px 3px lighten($brand-danger, 25px);
}

.btn-twitch {
    background-color: darken($background-color, 3%) !important;
    border: 1px solid transparent !important;
    color: $text-color !important;
    box-shadow: 0 0 1px transparent,
        0 0 10px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 1px transparent;
}

.btn-twitch:hover, .btn-twitch:active {
    background-color: lighten($background-color, 5%) !important;
    border: 1px solid #6441A5 !important;
    color: $text_color !important;
    box-shadow: 0 0 1px #6441A5,
        0 0 10px #6441A5,
        0 0 1px #6441A5,
        0 0 0.1px #6441A5,
        inset 0 0 1px 1px darken(#6441A5, 25px);
}

.btn-youtube {
    background-color: darken($background-color, 3%) !important;
    border: 1px solid transparent !important;
    color: $text-color !important;
    box-shadow: 0 0 1px transparent,
        0 0 10px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 1px transparent;
}

.btn-youtube:hover, .btn-youtube:active {
    background-color: lighten($background-color, 5%) !important;
    border: 1px solid #FF0000 !important;
    color: $text_color !important;
    box-shadow: 0 0 1px #FF0000,
        0 0 10px #FF0000,
        0 0 1px #FF0000,
        0 0 0.1px #FF0000,
        inset 0 0 1px 1px darken(#FF0000, 25px);
}

.btn-twitter {
    background-color: darken($background-color, 3%) !important;
    border: 1px solid transparent !important;
    color: $text-color !important;
    box-shadow: 0 0 1px transparent,
        0 0 10px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 1px transparent;
}

.btn-twitter:hover, .btn-twitter:active {
    background-color: lighten($background-color, 5%) !important;
    border: 1px solid #1DA1F2 !important;
    color: $text_color !important;
    box-shadow: 0 0 1px #1DA1F2,
        0 0 10px #1DA1F2,
        0 0 1px #1DA1F2,
        0 0 0.1px #1DA1F2,
        inset 0 0 1px 1px darken(#1DA1F2, 25px);
}

.btn-instagram {
    background-color: darken($background-color, 3%) !important;
    border: 1px solid transparent !important;
    color: $text-color !important;
    box-shadow: 0 0 1px transparent,
        0 0 10px transparent,
        0 0 1px transparent,
        0 0 0.1px transparent,
        inset 0 0 1px 1px transparent;
}

.btn-instagram:hover, .btn-instagram:active {
    background-color: lighten($background-color, 5%) !important;
    border: 1px solid #E1306C !important;
    color: $text_color !important;
    box-shadow: 0 0 1px #E1306C,
        0 0 10px #E1306C,
        0 0 1px #E1306C,
        0 0 0.1px #E1306C,
        inset 0 0 1px 1px darken(#E1306C, 25px);
}

.btn-circle {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 100% !important;
}

.btn-small {
    height: 45px !important;
	width: 45px !important;
}