@import 'light_variables';
@import '../app';
@import '_buttons';

.profile-badge {
    filter: invert(75%) !important;
}

.error-background {
    background-color:$background-color;
    opacity: 1;
    background-image:  linear-gradient(135deg, #ef444450 25%, transparent 25%), linear-gradient(225deg, #ef444450 25%, transparent 25%), linear-gradient(45deg, #ef444450 25%, transparent 25%), linear-gradient(315deg, #ef444450 25%, $background-color 25%);
    background-position:  4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
}

.maintenance-background {
    background-color: $background-color;
    opacity: 1;
    background-image:  linear-gradient(lighten($brand-disabled,50%) 1px, transparent 1px), linear-gradient(90deg, lighten($brand-disabled,50%) 1px, transparent 1px), linear-gradient(lighten($brand-disabled,50%) 1px, transparent 1px), linear-gradient(90deg, lighten($brand-disabled,50%) 1px, $background-color 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

html, body {
    background-color:$background-color !important;
}

h1, h2, h3, h4, h5, h6, p {
    color: $text-color !important;
}

hr {
    border-color: lighten($text-color, 50%) !important;
    margin: 2%;
}